@model IEnumerable<Urok1_povtor_metanit.Models.Book>

<div id="serch_book">
    <h3>Wszystkie książki:</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li><b>Nazwa książki: </b> @item.Name | <b>Cena książki: </b>@item.Price</li>
        }
    </ul>
</div>
